@model Contact

<div class="row">
    <div class="col-12">
        <div class="card border-top border-0 border-4 border-dark">
            <div class="card-body p-5">
                <div class="card-title text-center">
                    <h5 class="mb-5 mt-2 text-dark">İletişim Ekle</h5>
                </div>
                <hr>
                <form class="row g-3" method="post">
                    <div class="col-12">
                        <label asp-for="Title" class="form-label">Başlık</label>
                        <input type="text" class="form-control border-start-0" asp-for="Title" placeholder="Başlık">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Description" class="form-label">Description</label>
                        <input type="email" class="form-control border-start-0" asp-for="Description" placeholder="Açıklama">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for=" InstagramRedirectUrl" class="form-label">İnstagramUrl</label>
                        <input type="text" class="form-control border-start-0" asp-for="InstagramRedirectUrl" placeholder="InstagramRedirectUrl">
                        <span class="text-danger" asp-validation-for="InstagramRedirectUrl"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for=" XRedirectUrl" class="form-label">XRedirectUrl</label>
                        <input type="text" class="form-control border-start-0" asp-for="XRedirectUrl" placeholder="XRedirectUrl">
                        <span class="text-danger" asp-validation-for="XRedirectUrl"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for=" LinkedinRedirectUrl" class="form-label">LinkedinRedirectUrl</label>
                        <input type="text" class="form-control border-start-0" asp-for="LinkedinRedirectUrl" placeholder="LinkedinRedirectUrl">
                        <span class="text-danger" asp-validation-for="LinkedinRedirectUrl"></span>
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-lg px-5">Kaydet</button>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>